.wrapper {
  margin-left: 50px;

  @media screen and (max-width: 678px) {
    max-width: 50%;
    margin-right: auto;
    margin-left: auto;
  }
}

.container {
  max-height: 320px;
  overflow-y: scroll;
}

h2 {
  margin-top: 0;
  margin-bottom: 20px;
}
