.wrapper {
  width: 300px;
  height: 300px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;

  &:empty {
    border: none;
  }
}

.row {
  display: flex;
  flex-grow: 1;

  & > * {
    flex-grow: 1;
  }
}
